*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
}
.odr-list ol{
    padding-left: 35px;
    
}
.ord-inline-block{
    display: flex;
    justify-content: space-around;
}